.main {
	.welcome {
		padding: 0.25em 1em;
		margin-bottom: 1em;
	}

	.lang-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.lang {
			margin: 0.25em 5em;
		}
	}

	.control-row {
		position: relative;
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		padding: 0.25em 1em;

		.btn-container {
			position: relative;
			top: 25%;
		}

		textarea {
			outline: none;
			resize: none;

			&:read-only {
				background-color: darken(white, 10%);
				cursor: not-allowed;
			}
		}
	}

	.information {
		padding: 0.25em 1em;
	}

	.viewer-counts {
		padding: 0.25em 1em;

		.regular {
			margin-top: 1em;
		}
	}

	a {
		color: blue;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0.25em 0;
	}
}
